/* You can add global styles to this file, and also import other style files */
title
{
    text-align: center;
}

.centerthis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.gruppe
{
  display: flex;
}

